$color-primary : #DCE2F2;
$color-additional : #FBD6D7;
$color-skill: #8D93B5;
$color-text : #454B73;

$content-width: 1197px;
$tablet-width: 769px;
$tablet-width-text: 557px;
$mobile-big-width: 371px;
$mobile-small-width: 320px;