.project-img {
    width: 100%;

    &__overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 97%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    &__details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    &__details h3 {
        color: #ffffff;
        @include media-mobile {
            font-size: 15px;
        }
    }

    &__details span {
        color: #ffffff;
        @include media-mobile {
            font-size: 13px;
        }
    }
}

.fadeIn-top{
    top: 20%;
}