.title {
    text-align: center;
    @include font(20px, 25px, 400, normal, $color-text);
    padding: 7px 7px;
    border: 2px solid $color-text;
    position: relative;
    margin: 0 0 15px;
    &::before {
        position: absolute;
        content: '';
        border-right: 58px solid transparent;
        top: 1px;
        left: 1px;
        z-index: -1;
    }
    
    &_purple {
        &::before {
            border-top: 25px solid $color-primary;
        }
    }

    &_pink {
        &::before {
            border-top: 25px solid $color-additional;
        }
    }
}