.centering-block {
    max-width: 900px;
    margin: 10px auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 300px solid $color-primary;
        border-right: 383px solid transparent;
        top: 0;
        left: 0;
        z-index: -2;
        @include media-tablet {
            border-top: 250px solid $color-primary;
            border-right: 333px solid transparent;
        }

        @include media-mobile {
            border-top: 180px solid $color-primary;
            border-right: 263px solid transparent;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 132px;
        left: -37px;
        width: 514px;
        height: 0.4px;
        background: black;
        transform: rotate(-31deg);
        z-index: -2;
        @include media-tablet {
            top: 112px;
            left: -32px;
            width: 434px;
        }

        @include media-mobile {
            top: 94px;
            left: -51px;
            width: 364px;
        }
        
    }

    @include media-tablet {
        max-width: 650px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: auto;
    @include media-tablet {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}